.drawer {
	width: var(--drawer-width);
	flex-shrink: 0;
	white-space: nowrap;
	box-sizing: border-box;
}

.drawer,
.drawer > * {
	overflow-x: hidden;
}

.open,
.open > * {
	width: var(--drawer-width);
	transition: all var(--transition-duration-leaving-screen)
		var(--transition-easing-sharp) !important;
	-webkit-transition: all var(--transition-duration-leaving-screen)
		var(--transition-easing-sharp) !important;
}

/* .open .MuiListItemButton-root {
	justify-content: initial !important;
}

.open > .MuiListItemIcon-root {
.open .test {
	margin-right: 30px !important;
}

.close .MuiListItemButton-root {
	justify-content: center !important;
}

.open .MuiListItemIcon-root {
	margin-right: auto !important;
} */

.close,
.close > * {
	width: calc(56px + 1px);
	transition: all var(--transition-duration-leaving-screen)
		var(--transition-easing-sharp) !important;
	-webkit-transition: all var(--transition-duration-leaving-screen)
		var(--transition-easing-sharp) !important;
}

@media screen and (min-width: 600px) {
	.close,
	.close > * {
		width: calc(64px + 1px);
	}
}

@media screen and (max-width: 425px) {
	.close,
	.close > * {
		width: 0px;
		border-right: 0px !important;
	}
}
