:root {
	--default-black: #212529;
	--default-border: solid 1px var(--default-black);

	--primary-main: #ffe8cc;
	--primary-light: #fff4e6;

	--secondary-main: #ffa94d;
	--secondary-dark: #f76707;

	--drawer-width: 240px;

	--default-transition: transform 0.3s ease-in-out;
	--transition-easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);
	--transition-duration-leaving-screen: 195ms;
}

body {
	/* color: var(--default-black) !important; */
	padding-bottom: 0 !important;
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

span.MuiFormControlLabel-label {
	padding: 0;
}
