.ul {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
}

@media screen and (max-width: 900px) {
	.ul {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}
}

@media screen and (max-width: 450px) {
	.ul {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}
}
