.ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 900px) {
	.ul {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 600px) {
	.ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 450px) {
	.ul {
		grid-template-columns: 1fr;
	}
}

.tab-panel {
	padding: 0 !important;
}
