.back-button-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 10px;
	padding-left: 10px;
	min-height: 56px !important;
}

@media screen and (min-width: 0px) {
	.back-button-container {
		min-height: 48px !important;
	}
}

@media screen and (min-width: 600px) {
	.back-button-container {
		min-height: 64px !important;
	}
}

.drawer {
	width: var(--drawer-width);
	flex-shrink: 0;
	white-space: nowrap;
	box-sizing: border-box;
}

.drawer,
.drawer > * {
	overflow-x: hidden;
}

.open,
.open > * {
	width: var(--drawer-width);
	transition: all var(--transition-duration-leaving-screen)
		var(--transition-easing-sharp) !important;
	-webkit-transition: all var(--transition-duration-leaving-screen)
		var(--transition-easing-sharp) !important;
}

.close,
.close > * {
	width: calc(56px + 1px);
	transition: all var(--transition-duration-leaving-screen)
		var(--transition-easing-sharp) !important;
	-webkit-transition: all var(--transition-duration-leaving-screen)
		var(--transition-easing-sharp) !important;
}

@media screen and (min-width: 600px) {
	.close,
	.close > * {
		width: calc(64px + 1px);
	}
}
