.video {
	position: absolute;
	top: 0;
	z-index: -50;
	/* object-position: top; */
	width: 100%;
}

@media screen and (max-width: 600px) {
	.video {
		overflow-x: hidden;
		width: auto;
		max-width: none;
		height: 100%;
	}
}
