.card-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-portrait {
	transition: transform 0.3s ease-in-out !important;
}

.card-portrait:hover {
	transform: scale(1.05);
}

.card-landscape {
	padding-bottom: 0;
}

.card-content-portrait {
	padding: 0;
}
.card-content-landscape {
	display: flex;
	padding-right: 0 !important;
	padding-bottom: 6px !important;
}

@media screen and (max-width: 900px) {
	.card-content-landscape {
		flex-direction: column !important;
	}
}

@media screen and (max-width: 600px) {
	.card-content-landscape {
		flex-direction: row !important;
	}
}

@media screen and (max-width: 425px) {
	.card-content-landscape {
		flex-direction: column !important;
	}
}
