.card-portrait {
	transition: transform 0.3s ease-in-out !important;
}

.card-portrait:hover {
	transform: scale(1.05);
}

.card-landscape {
	padding-bottom: 0;
}

.card-content-portrait {
	padding: 0;
}
.card-content-landscape {
	display: flex;
	padding-right: 0 !important;
	padding-bottom: 6px !important;
}
